.input {
  height: 50px;
  width: 80%;
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.input > input {
  background-color: none;
  border: none;
  margin-left: 12px;
  flex: 1;
  padding: 10px;
  font-size: 15px;
}
.input > input:focus {
  outline-width: 0;
}
.input > button {
  margin-right: 8px;
  background-color: rgb(214, 213, 213);
  border: none;
  border-radius: 10px;
  height: 30px;
  padding: 10px;
}
